@font-face {
    font-family: MyFont;
    src: url("./fonts/MerriweatherSans.ttf");
}

body {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
}

#logo-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
}

.row-format {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: MyFont;
}

.row-format p,
.row-format h2 {
    margin: auto 2px;
}

.search-container {
    margin-left: auto;
    display: flex;
    height: 28px;
    margin-top: 10px;
    align-items: center;
}

#search-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#search-bar {
    margin-left: 10px;
    padding: 5px;
}

#theme-icon,
#temperature-toggle {
    width: 25px;
    height: 25px;
    margin: 10px 5px;
    margin-bottom: 0;
    cursor: pointer;
}

#theme-icon:hover,
#temperature-toggle:hover,
#search-icon:hover {
    filter: brightness(0) saturate(100%) invert(52%) sepia(70%) saturate(482%) hue-rotate(149deg) brightness(88%) contrast(91%);
}

footer {
    color: white;
    background-color: black;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: MyFont;
    font-size: smaller;
}

.weather-card img {
    width: 40px;
    height: 40px;
}